.layout_Loader {
  position: fixed;
  top: 0;
  left: -100px;
  right: -100px;
  height: 4px;
  will-change: transform;
  background-size: 228px 32px;
  background-color: #2196f3;
  background-image: repeating-linear-gradient(135deg,#90caf9,#90caf9 20px,#2196f3 0,#2196f3 40px);
  animation: loader-stripes .5s infinite linear;
}

@keyframes loader-stripes {
  0% {
    transform: translateX(0) translateZ(0);
  }
  100% {
    transform: translateX(-56px) translateZ(0);
  }
}

.layout_Container {
  min-height: 100vh;
  background-color: var(--color-background);
  display: grid;
  padding: 20px;
  grid-gap: 20px;
  justify-content: center;
  grid-template-columns: auto;
  grid-template-rows: max-content max-content auto 1fr;
  grid-template-areas:
    "logo"
    "filters"
    "sort"
    "tickets";
}

@media (min-width: 768px) {
  .layout_Container {
    grid-template-columns: auto minmax(auto, 502px);
    grid-template-areas:
      "logo    logo"
      "filters sort"
      "filters tickets";
  }
}

.layout_Logo {
  grid-area: logo;
  padding: 19px 0 19px;
  display: flex;
  justify-content: center;
}

.layout_Filters {
  grid-area: filters;
}

.layout_Tickets {
  grid-area: tickets;
}

.layout_Message {
  padding: 20px;
  margin-bottom: 20px;
}
