.checkbox_Native {
  appearance: none;
  position: absolute;
}

.checkbox_Visual {
  display: inline-block;
  line-height: 1;
  width: 20px;
  height: 20px;
  position: relative;
  border: 1px solid #9ABBCE;
  box-sizing: border-box;
  border-radius: 2px;
}

.checkbox_Native:checked + .checkbox_Visual {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.28571 8L0 4.16123L1.20857 3.0787L4.28571 5.82726L10.7914 0L12 1.09021L4.28571 8Z' fill='%232196F3'/%3E%3C/svg%3E%0A");
  border: 1px solid #2196F3;
}

/* Styles from keyboard ONLY  */
.js-focus-visible .checkbox_Native.focus-visible + .checkbox_Visual {
  /* #cbdefd === -webkit-focus-ring-color */
  box-shadow: 0 0 0 2px #cbdefd;
}
.checkbox_Native:focus-visible + .checkbox_Visual {
  /* #cbdefd === -webkit-focus-ring-color */
  box-shadow: 0 0 0 2px #cbdefd;
}
