.ticketsList_List {
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, max-content);
}

.ticketsList_Item {
  list-style: none;
}
