.ticketList_SortContainer {
  display: flex;
}

.ticketsList_SortButton {
  flex-grow: 1;
  cursor: pointer;
}

.ticketsList_SortButtonText {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #fff;
  color: #4A4A4A;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.ticketsList_SortCheckbox:checked + .ticketsList_SortButtonText {
  background: #2196F3;
  color: #FFFFFF;
}

.ticketsList_SortButton:first-child .ticketsList_SortButtonText {
  border-radius: 5px 0 0 5px;
}

.ticketsList_SortButton:last-child .ticketsList_SortButtonText {
  border-radius: 0 5px 5px 0;
}

.ticketsList_SortCheckbox {
  appearance: none;
  position: absolute;
}
